* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}




body{
    min-height: 100vh;
    width:100%;
    font-family : Arial, Helvetica, sans-serif;
    background-image: url("/QuizGame/images/obi-wan-kenobi-homepage.jpg") ;
    background-position: center; 
    background-size: cover;
     position: relative;
}

.homepage-desc{
    /* color: #fff; Set text color to white */
    width: 90%; 
    position: absolute; /* Absolutely position the text box relative to its parent */
    top: 47%; /* Center it vertically */
    left: 50%; /* Center it horizontally */
    transform: translate(-50%, -50%); /* Adjust for the element's own size */
    text-align: center; 
}

.homepage-desc h1{
    color:beige;
    font-size:59px;
}

.homepage-desc p {
    color: beige;
    margin:10px 0 40px;
    padding:12px 34px;
    font-size: 14px;
    /* color:#fff */

}

.start-btn{
    text-decoration:none;
    color:black;
    display:inline-block;
    border: 1px solid black;
    padding:12px 34px;
    font-size: 13px;
    position: relative;
    background:transparent;
    cursor:pointer;
}

.start-btn:hover{
    color: grey;
    border: 1px solid beige;
    background: beige;
    transition: 1s;
    
}